html {
    font-size: 16px !important;
}

body {
    font-size: 1.25rem !important;
}

.profile {
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
}

.intro {
    transform: translateY(10vh);
}

.content {
    text-align: left;
}

.intro > h1 {
    font-size: 7vh;
}

.intro > h2 {
    font-size: 3vh;
}