.profile {
    width:20vh;
    height: 20vh;
    border-radius: 50%;
}

.intro {
    transform: translateY(10vh);
}

.content {
    text-align: left;
}

.intro > h1 {
    font-size: 7vh;
}

.intro > h2 {
    font-size: 3vh;
}